body {
    text-align: center;
    background-color: #04a6eb;
    color: #fdffff;
    margin: auto;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
}

input {
    height: 20px;
}